@page "/"

<PageTitle>Home</PageTitle>

<h1>Simpipe Cloud</h1>

Esse é um site em Blazor, criado para um teste.
<p>Estou fazendo um teste, seu Id: @guid </p>
<p>Esse é um exemplo de reutilizar uma página ou componente em outra página</p>


@code{
    Guid guid = Guid.NewGuid();
}



<Calculo/>